<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Send24_Shipping>
            <module>1.0.4</module>
        </Send24_Shipping>
    </modules>

    <frontend>
        <routers>
            <send24_shipping>
                <use>standard</use>
                <args>
                    <module>Send24_Shipping</module>
                    <frontName>send24_shipping</frontName>
                </args>
            </send24_shipping>
        </routers>
        <layout>
            <updates>
                <send24_shipping>
                    <file>send24_pickup.xml</file>
                </send24_shipping>
            </updates>
        </layout>
    </frontend>

     <adminhtml>
        <layout>
            <updates>
                <send24_shipping>
                    <file>send24_order_tamplate.xml</file>
                </send24_shipping>
            </updates>
        </layout>
    </adminhtml>

    <global>
        <blocks>
            <send24_shipping>
                <class>Send24_Shipping_Block</class>
            </send24_shipping>
        </blocks>
        <models>
            <send24_shipping>
                <class>Send24_Shipping_Model</class>
            </send24_shipping>
        </models>
        <events>
            <sales_order_place_after>
                <observers>
                    <send24_shipping_order_observer>
                        <type>singleton</type>
                        <class>send24_shipping/carrier</class>
                        <method>after_order_placed</method>
                    </send24_shipping_order_observer>
                </observers>
            </sales_order_place_after>

            <admin_system_config_changed_section_carriers>
                <observers>
                    <send24_shipping>
                        <type>singleton</type>
                        <class>send24_shipping/carrier</class>
                        <method>adminSystemConfigChangedSectionCarriers</method>
                    </send24_shipping>
                </observers>
            </admin_system_config_changed_section_carriers>
          
        </events>
        <helpers>
            <send24_shipping>
                <class>Send24_Shipping_Model</class>
            </send24_shipping>
        </helpers>
        <template>
            <email>
                <send24_track_notice module="Send24">
                    <label>Send24 Track Notice</label>
                    <file>send24_track_notice.html</file>
                    <type>html</type>
                </send24_track_notice>
            </email>
        </template>
    </global>


    <!-- Default configuration -->
    <default>
        <carriers>
            <send24_shipping>
                <active>1</active>
                <!--
                     This configuration should not be made visible
                     to the administrator, because it specifies
                     the model to be used for this carrier.
                -->
                <model>send24_shipping/carrier</model>
                <!--
                    The title as referenced in the carrier class
                -->
                <title>Fragt</title>
                <startexpress_time_select>08,00,00</startexpress_time_select>
                <endexpress_time_select>18,00,00</endexpress_time_select>
                <select_insurance>0</select_insurance>
                <show_shops>map</show_shops>
                <sort_order>10</sort_order>
            
            </send24_shipping>
        </carriers>
    </default>
</config>

